<div fxLayout = "column" fxLayoutAlign="start">
  <mat-toolbar>
    Task
  </mat-toolbar>
  <div *ngFor="let n of CompomentToDoList">
    <mat-card class="cardSize">
      <mat-card-content>
        <div fxLayoutAlign ="space-between" class="taskTitle">
          <div fxFlex="glow">{{n.taskL}}</div>
        </div>
        <div fxLayoutAlign ="space-between">
          <span> 
           {{n.priorityLevel}} 
          </span>
          <span>
            {{n.dueL}}
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>